nav {
  background-color: whitesmoke;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav li a {
  text-decoration: none;
  padding: 5px 10px;
}

nav li a:hover {
  color: black;
}
