.action-cell {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.action-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

mat-card {
  margin: 40px 3rem 10px;

  @media screen and (max-width: 600px) {
    margin: 40px 0.5rem 10px;
  }
}

mat-card-content {
  padding-top: 16px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  mat-form-field {
    width: 100%;
    max-width: 300px;
  }
}
